<!-- <div class="background">
  <app-page1></app-page1>
  <!-- <app-page2></app-page2> -->
  <!-- <app-page3></app-page3> -->
  <!-- <app-page4></app-page4> -->
  <!-- <app-page5></app-page5> -->
<!-- </div> -->

<router-outlet></router-outlet>
<nav>
  <a class="button" routerLink="/page1">Page1</a> 
  <a class="button" routerLink="/page2">Page2</a>
  <a class="button" routerLink="/page3">Page3</a> 
  <a class="button" routerLink="/page4">Page4</a>
  <a class="button" routerLink="/page5">Page5</a> 
</nav>