<div class="gridcontainer">
  <div class="column1">
    <img id="node" src="../../assets/graphics/Node_logo_NodeJS-700x428.png" alt="">
    <h2 id="tittext">FUTURISTIC </h2>
    <h2 id="tittex">CITIES</h2>
    <p id="pLor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci nulla pellentesque dignissim enim sit amet venenatis urna. Enim tortor at auctor urna nunc. </p>
    <p id="pMet">Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Amet mattis vulputate enim nulla aliquet. Nunc consequat interdum varius sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
    <img id="logosoc" src="../../assets/soclogo/logo3.png" alt="">
    <p id="linkSite">www.website.com</p>
   </div>
   <div class="column2">
    <img id="cityTT" alt="cityTT" src="../../assets/imgCity/cityTT.png">
    <img id="squarecorners" src="../../assets/graphics/select.png" alt="">
    <p id="sidep">D E M O G R A P H I C S  C E N T E R</p>
    <img id="squaresq" src="../../assets/graphics/raster.png" alt="">
    <img id="dash" src="../../assets/graphics/dottedline.svg" alt="">
    <img id="dash1" src="../../assets/graphics/dottedline.svg" alt="">
  </div>
</div>