<div class="gradient">
    <h2 id="tittext">THE FUTURE OF </h2>
    <h2 id="tittex">THE CITIES</h2>
    <p id="underH">D E M O G R A P H I C S  C E N T E R</p>
    <img id="cityTT" alt="cityTT" src="../../assets/imgCity/cityTT.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p> In metus vulputate eu scelerisque felis imperdiet proin fermentum leo.</p>
    <p id="linkSite">www.website.com</p>
    <img id="squarecorners" src="../../assets/graphics/select.png" alt="">
    <img id="squaresq" src="../../assets/graphics/raster.png" alt="">
    <img id="dash" src="../../assets/graphics/dottedline.svg" alt="">
    <img id="logosoc" src="../../assets/soclogo/logo2.png" alt="">
    <img id="node" src="../../assets/graphics/Node_logo_NodeJS-700x428.png" alt="">
</div>